{% extends "musicmatch/base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">

<h1 class="title"> Meet {{match.first_name}} {{match.last_name}}! </h1>

<!-- Pronoun and Birthday display -->
<h3> ({{match.get_pronouns_display}}) </h3>

<br>
Birthday: {{match.dob}}

<br>
<br>


Want to reach out ? 
<br>
Email: {{match.email}}  

<br>
<br>
<!-- if already friend don't display request button -->
{% if already_friend %}
<p style='color:red'>*Already friend</p>

{% else %}

<!-- make friend request button -->
<form action="{% url 'friend_request' match.pk %}" method='POST'>
  {% csrf_token %}
  <button class="button is-block is-info is-large is-fullwidth">Send friend request!</button>
</form>
{% endif %}


<br> 
<!-- find events button  -->
<form action="{% url 'match_events' match.pk %}" method='POST'>
  {% csrf_token %}
  <button class="button is-block is-info is-large is-fullwidth">Get Events for Us!</button>
</form>


<br>

<br>


</div>

{% endblock %}