{% extends "musicmatch/base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
<h1 class="title">  
  {% if match_profile %}
  Meet 
  {% else %}
  Welcome 
  {% endif %}
  {{profile.first_name}} {{profile.last_name}}! </h1>
  <h3> ({{profile.get_pronouns}}) </h3>
 
  <br>
  Birthday: {{profile.dob}}

  <br>
  <br>
  {% if match_profile %}
    Want to reach out ? 
    <br>
    Email: {{profile.email}}
  {% else %}
  <form action="{% url 'complete_profile' profile.pk %}" method='POST'>
    {% csrf_token %}
    <button class="button is-block is-info is-small is-fullwidth">Update my info!</button>
  </form>
  {% endif %}

<br>

<br>


</div>

{% endblock %}